<h1 *ngIf="authService.user | async">Welcome {{ (authService.user | async)?.email }}!</h1>

<div *ngIf="!(authService.user | async)">
  <input type="text" [(ngModel)]="email" placeholder="email">
  <input type="password" [(ngModel)]="password" placeholder="email">

  <button (click)="signup()" [disabled]="!email || !password">
    Signup
  </button>

  <button (click)="login()" [disabled]="!email || !password">
    Login
  </button>
</div>
<br>
<button (click)="logout()" *ngIf="authService.user | async">
  Logout
</button>
<br>
<app-google-auth></app-google-auth>
<br>
<app-facebook-auth></app-facebook-auth>

<br>
<br>
<app-twitter-auth></app-twitter-auth>

<br>
<br>
<app-github-auth></app-github-auth>


<h1>Phone Number Verification</h1>
<app-phone-login></app-phone-login>